.campo-senha {
    margin: 24px 0;
    /*display: inline-block;*/
}

.campo-senha label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-size: 1rem;
}

.campo-senha input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 95%;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 10px;

}