.Consolidado {
    display: inline;
    /*float: center;*/
    display: flex;
    justify-content: center;
}

.Consolidado div{
    margin: 0px 16px;
}


.Consolidado-fonte {
    font-weight: bold;
    
}

.Consolidado table {
    background-color:#F2F2F2;
    border-radius: 20px;
    padding: 0px 0px;
    /*box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);*/
    
}
.Consolidado td {
    padding: 8px 8px;
    vertical-align: center;
    /*border: 1px solid #ccc; */
   /*border: 1px solid #ccc; */
  }