.banner {
    background-color: #6A1B9A;
    /*border-radius: 0 0 20px 20px;*/
    bottom: 0;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.banner h3 {
    border: 4px solid white;
    padding: 8px 12px;
    border-radius: 20px;
    color: white;
}

.banner ul li {
    display: inline-block;
}

.banner img {
    padding: 0px 4px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(49,49,49,0.8);
  }
  .modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }


.modal table {
    border-collapse: collapse;
    /* REMOVE BORDA DAS COLUNAS*/
    width: 100%;
}

.modal th {
    padding: 10px;
    line-height: 0.5 !important;
    /*border: 1px solid #ccc; COLOCA UMA BORDA FINA APENAS NA PRIMEIRA LINHA*/
    background-color: #9C27B0;
    font-weight: bold;
    color: white;
}


.modal tr:nth-child(even) {
    background-color: #ebe6e6;
}

.modal tr:hover {
    background: rgb(200, 199, 199);
}

.modal td {
    padding: 16px;
    line-height: 0.5 !important;
}